body{
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
    height: 100vh;
    width: 100vw;

    color: white;
}

.background-image{
    height: 100%;
    width: 100%;
    grid-row: 1 / 15;
    grid-column: 1 / 22;
}

.searchbar{
    border: white 1px solid;
    border-radius: 1rem;

    background-color: grey;
    filter: drop-shadow(#000000);

    grid-row:2/3;
    grid-column: 2/9;
    margin: .5rem 0;

    display: grid;
    justify-content: center;
}

::placeholder{
    color: black;
}
.input-field{
    border: 0px;
    background-color: #00000000;
}

.favorite{
    border: white 1px solid;
    border-radius: 1rem;


    background-color: aquamarine;

    grid-row: 2/3;
    grid-column: 9/10;
    margin: .5rem 0;
    
}

.main-box{
    background-color: #00000080;

    grid-row: 3/10;
    grid-column: 2 / 21;

    border: white 1px solid;
    border-radius: .625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.weather-div{
    display: flex;
    justify-content: space-around;
}
.icon-manipulation{
    fill: white;
}

.temp-div{
    display: flex;
    width: 35%;
    
    justify-content: space-around;
}
.card1{
    background-color: #00000080;

    text-align: center;

    border: white 1px solid;
    
    margin-top: .5rem;
    border-radius: .625rem;

    grid-row: 10/14;
    grid-column: 2 / 5;
}
.card2{
    background-color: #00000080;

    text-align: center;

    border: white 1px solid;

    margin-top: .5rem;
    border-radius: .625rem;
    grid-row: 10/14;
    grid-column: 6 / 9;
}
.card3{
    background-color: #00000080;
    text-align: center;

    border: white 1px solid;

    margin-top: .5rem;
    border-radius: .625rem;
    grid-row: 10/14;
    grid-column: 10 / 13;
}
.card4{
    background-color: #00000080;

    border: white 1px solid;
    text-align: center;

    margin-top: .5rem;
    border-radius: .625rem;
    grid-row: 10/14;
    grid-column: 14 / 17;
}
.card5{
    background-color: #00000080;

    border: white 1px solid;
    border-radius: .625rem;
    text-align: center;

    margin-top: .5rem;
    grid-row: 10/14;
    grid-column: 18 / 21;
}